html, body {
    margin: 0;
    padding: 0;

    height: 100vh;
}

.main {
    height: calc(100vh - 56px);
    background: linear-gradient(to right top, #3133ad, #953bd1);
}

.employee-card {
    margin: 15px;
    padding: 15px;
}