html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container--prev {
    width: 500px;
    text-align: center;
}

.container--workers {
    color: cadetblue;
}

.container--workers p {
    color:darkseagreen;
}
