{% extends 'workers/base.html' %}

{% block content %}
<div class="container">
  <h1 class="container--prev">Workers</h1>
  <div class="container--workers">
    {% for p in posts %}
    <div class="worker">
      <a href="{{ p.get_absolute_url }}" ><h3>Name: {{ p.name|title }}</h3></a>
      <p>Salary: {{ p.salary_amount }}<br>
        Date employ: {{ p.date_employ }}</p>
    </div>
    {% endfor %}
    {% if remaining > 0 %}
      <h3>And {{ remaining }} more employees</h4>
    {% endif %}
  </div>
</div>
{% endblock %}