{% extends 'workers/base.html' %}

{% block content %}
<div class="container-fluid main">
  <div class="row">
    {{ position }}
    {% for p in posts %}
    <div class="col">
      <div class="card worker-card">
        {% if person.image %}
        <img src="{{ p.photo.url }}" class="card-img-top">
        {% endif %}
        <div class="card-body" style="width: 250px;">
          <h5 class="card-title">Name: {{ p.name|title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Position: {{ p.worker }}</h6>
          <p class="card-text">Salary: {{ p.salary_amount }}</p>
          <small>Date of employment: {{ p.date_employ|date:"d-m-Y" }}
          </small>
        </div>
        <a class="card-link text-end" href="{{ p.get_absolute_url }}">view</a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if remaining > 0 %}
  <h3 class="text-white mb-5 text-center">And {{ remaining }} more employees</h3>
  {% endif %}
  <h4 class="text-white text-center">View employees by position</h4>
  <ul class="text-white text-center">
    {% for p in positions %}
    <a href="{{ p.get_absolute_url }}"><li>{{ p }}</li></a>
    {% endfor %}
  </ul>
</div>
{% endblock %}