{% extends 'workers/base.html' %}

{% block content %}

<h3>Employee number: {{ worker_id }}</h3>

<ul>
    <li>Name: {{ worker.name|title }}</li>
    <li>Surname: {{ worker.surname|title }}</li>
    <li>Patronymic: {{ worker.patronymic|title }}</li>
    <li>Position: {{ worker.worker }}</li>
    <li>Salary: {{ worker.salary_amount }}</li>
    {% if person.image %}
    <img src="{{ worker.photo.url }}">
    {% else %}
    <li>Photo: not available yet</li>
    {% endif %}
    <li>Chief: {{ worker.chief_id }}</li>
</ul>

<h3>Home: <a href="{% url 'workers' %}">link</a></h2>
{% endblock %}
